############################
# Build folders
############################

bin/
obj/
out/

############################
# User-specific files
############################

*.user
*.suo
*.userosscache
*.sln.docstates

############################
# VS Code
############################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################
# Rider / JetBrains
############################

.idea/
*.sln.iml

############################
# Logs
############################

*.log

############################
# NuGet
############################

*.nupkg
*.snupkg
packages/

############################
# ASP.NET
############################

wwwroot/lib/

############################
# OS files
############################

.DS_Store
Thumbs.db

############################
# Secrets
############################

secrets.json
appsettings.Development.json

############################
# Test Results
############################

TestResults/
*.trx

############################
# Dotnet tools
############################

.dotnet/

############################
# Temporary files
############################

*.tmp
*.temp